%gameCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid whitesmoke .75px;
  padding: 0;
  width: 30px;
  height: 30px;
  user-select: none;
}

.coveredCell {
  @extend %gameCell;
  div {
    div {
      position: relative;
      top: 0;
      width: 30px;
      height: 30px;
      background-color: black;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        background-color: rgb(66, 66, 66);
      }
      &:active {
        box-shadow: 0 0 3px 0.5px rgb(100, 100, 100);
      }
    }
  }
}

@keyframes removeCover {
  to {
    top: 30px;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50px;
  }
}

.coveredCellRemoved {
  @extend .coveredCell;
  div {
    div {
      animation: removeCover .5s forwards ease-in;
    }
  }
}

.uncoveredCell {
  @extend %gameCell;
}

@mixin nearbyMineCell($bgColor) {
  @extend .uncoveredCell;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%; 
    box-shadow: 0 0 5px 0.5px $bgColor;
    border-radius: 8px;
    color: white;
    background-color: $bgColor;
  }
}

.oneNearbyMineCell { @include nearbyMineCell(blue); }
.twoNearbyMineCell { @include nearbyMineCell(green); }
.threeNearbyMineCell { @include nearbyMineCell(red); }
.fourNearbyMineCell { @include nearbyMineCell(darkblue); }
.fiveNearbyMineCell { @include nearbyMineCell(brown); }
.sixNearbyMineCell { @include nearbyMineCell(cyan); }
.sevenNearbyMineCell { @include nearbyMineCell(black); }
.eightNearbyMineCell { @include nearbyMineCell(grey); }

.mineCell {
  @extend .uncoveredCell;
  div {
    width: inherit;
    height: inherit;
    background-image: url('../../assets/img/mine.png');
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
  }
}

.spinningMineCell {
  @extend .mineCell;
  border: none;
  @keyframes grow {
    0% { transform: scale(1, 1); }
    50% { transform: scale(1.5, 1.5); }
    100% { transform: scale(1, 1); }
  }
  animation: grow 1s ease-out infinite;
}
