@font-face {
  font-family: 'Lato Regular';
  src: url('../assets/fonts/Lato-Regular.ttf');
}

.container {
  font-family: 'Lato Regular';
  padding: 8px;
  display: flex;
  justify-content: center
}

%belowTable {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 15px;
}

#scoreDiv {
  @extend %belowTable;
}

#resultDiv {
  @extend %belowTable;
}

