@font-face {
  font-family: 'Lato Regular';
  src: url('../assets/fonts/Lato-Regular.ttf');
}

.container {
  font-family: 'Lato Regular';
  padding: 8px;
  display: flex;
  justify-content: center;
}


