#gameHeaderDiv {
  margin-bottom: 10px;
  h1, h4 {
    text-align: center;
  }
  h1 {
    margin-bottom: 0;
  }
  h4 {
    margin-top: 15px;
  }
  #gameControlDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    %gameControlBtns {
      font-family: 'Lato Regular';
      font-weight: bold;
      padding: 8px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: lightgrey;
      }
      &:focus {
        outline: 0;
      }
    }
    @keyframes focusShadow {
      from { box-shadow: 0 0 0 0 darkgrey; }
      to { box-shadow: 0 0 5px 2px darkgrey; }
    }
    #difficultyBtn {
      @extend %gameControlBtns;
      &:focus {
        animation: focusShadow .25s forwards; 
      }
    }
    #newGameBtn {
      @extend %gameControlBtns;
      &:active {
        animation: focusShadow .25s forwards; 
      }
    }
  }
}

#difficultyMenuDiv {
  position: absolute;
  width: 70px;
  margin-top: 2px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px darkgrey;
  cursor: pointer;
  z-index: 1;
  button {
    display: block;
    padding: 8px;
    width: 100%;
    text-align: left;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    font-family: 'Lato Regular';
    font-weight: bold;
    &:hover {
      color: white;
      background-color: blue;
    }
  }
}